* {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
    width: 100%;
    display: flex;
}

body > * {
  flex-grow: 1;
  flex-basis: 0;
}

#control {
    display: flex;
    flex-direction: column;
}

#clients {
    flex-grow: 10;
    display: flex;
    flex-direction: column;
}

#clients > * {
    display: flex;
    align-items: center;
    font-size: 25px;
    padding: 5px;
}

#clients > .active {
    background: #f66;
}

#clients > * > * {
  flex-grow: 1;
  flex-basis: 0;
}

#ptt {
    flex-grow: 1;
}